/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

header{
    background-image: url(pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.main-nav li.active a{
    border: 1px solid white;
}

.main-nav li a:hover{
    border: 1px solid white;
}

.logo img{
    width: 150px;
    height: auto;
    float: left;
}
.row{
    max-width: 1200px;
    margin: auto;
}

.text{
    position: absolute;
    width: 1200px;
    font-size: 40px;
    text-align: center;
    margin-top: 335px;
    margin-left: 35px;
}

h1{
    color: white;

}
.button{
    margin-top: 20px;
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-one{
    background-color:darkorange;
    font-family: 'Roboto', sans-serif;
}

.btn-two{
    font-family: 'Roboto', sans-serif;
}
.btn-two:hover{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}